.text1{
  font-size: 15px;
  margin: 0;
  /* border: 1px solid green; */

}
.text2{
  font-size: 15px;
  margin: 0;
  /* border: 1px solid green; */
}
.summaryDesign{
 margin:0 5px 0 5px;
 /* border: 1px solid red; */
}
.summaryDesign,.castDesign{
  /* width:180px; */
  font-size: 13.5px;
}

.posterImage{
  /* border: 1px solid blue; */
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  /* border-top-left-radius: 5%;
  border-top-right-radius: 5%; */
  /* border-radius: 5%; */
  /* margin-bottom:5%; */
  width: 300px;
  /* position:relative */
  /* padding-bottom: 4%; */
}

.cardDesign {
  background-color: black; 
  /* height: 255px; */
  margin-bottom: 1%;
  cursor: pointer;
  /* border:1px solid yellow;  */
  width:299px ;

} 
.cardDesign:hover .movieContent{ 

  /* transform: scale(0.9); */
  display: block;
  z-index: 1000;
   /* border:1px solid green;  */
}   

.cardDesign:hover{
  box-shadow: 20px 20px 20px rgb(79,79,103);
  transform: scale(1.1,1.1);
  /* border:1px solid blue;  */
}

.movieContent{
  display:none;  
}

.movieContent:hover{
  display:block;
}

body{
  background-color: black;
  color: white;
}

.nav-link:hover{
  color: pink;
  cursor: pointer;
}

